.App {
  text-align: center;
  background-color: #bab6b2;
}

.jumbotron {
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-position: center center; /* or 50% 50% */
  /* background-repeat: no-repeat;  
  background-image: url(${kidsImage}); */
  display: flex;
  align-items: center;
}

.skillsetLabel {
  font-size: 15px;
}

/* Projects */
.project-title {
  text-align: left;
  color: navy;
}
.project-summary-title {
  text-align: left;
  color: purple;
}

.project-summary-para {
  text-align: left;
  font-size: small;
  color: blue;
}

.project-link-col {
  margin-top: 10% !important;
}
