.App {
  text-align: center;
  background-color: #cdcdcd;
  background-image: radial-gradient(
    circle,
    #cdcdcd 35%,
    #f2c49cff,
    #59a695ff,
    #4a86bfff 60%
  );
}

.header {
  background-color: #59a695ff;
  background-image: radial-gradient(
    ellipse at left,
    #cdcdcd,
    #f2c49cff,
    #59a695ff,
    #4a86bfff 60%
  );
}

.headbar {
  background-color: #4a86bfff;
}

.site-footer {
  background-color: #f2c49cff;
  background-image: radial-gradient(
    ellipse at right,
    #cdcdcd,
    #f2c49cff,
    #59a695ff,
    #4a86bfff 60%
  );
}

.jumbotron {
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-position: center center; /* or 50% 50% */
  /* background-repeat: no-repeat;  
  background-image: url(${kidsImage}); */
  display: flex;
  align-items: center;
}

.skillsetLabel {
  font-size: 15px;
}

/* Projects */
.project-title {
  text-align: left;
  color: navy;
}
.project-summary-title {
  text-align: left;
  color: purple;
}

.project-summary-para {
  text-align: left;
  font-size: small;
  color: blue;
}

.project-link-col {
  margin-top: 10% !important;
}

.stop-button {
  background-color: #f2c49cff;
  border-radius: 10px;
}

/* CSS HEX */
/* --peach-crayola: #f2c49cff;
--polished-pine: #59a695ff;
--steel-blue: #4a86bfff;
--kobe: #812e0eff;
--denim-blue: #2443a8ff; */
